@use 'responsive' as *;

body {
    @include responsive(
        (
            smartphone: 480px,
            tablet: 768px,
            desktop: 1279px,
            largedesktop: 1920px,
        ),
        layout-shift
    );
}
